footer {
    background-color: #FFF;
    width: 100%;
    display: flex;
    transition: 0.6s ease-in-out;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    min-height: 70px;
    font-size: 0.8rem;
    position: relative;
}

.tripledLogo {
    width: 80px;
    margin: 0px 10px;
}

.copyright {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
}

.infoBtn {
    color: #f18b82;
    margin-left: 20px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.infoBtn:hover {
    color: #98c7fc;
}

.simulationId {
    font-family:'Courier New', Courier, monospace;
    color: #999798;
    margin-right: 20px;
}