.mapFlexWrapper {
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    justify-content: center;
    max-height: 100%;
    padding-bottom: 30px;
}

.simulationMap {
    font-family:'Courier New', Courier, monospace;
    font-size: 2vw;
    line-height: 3vw;
    padding: 20px 30px;
    border: 1px solid #FFF;
    border-radius: 8px;
    backdrop-filter: blur(5px);
}

.mapInnerDiv {

}

.roverSymbolWrapper {
    position: relative;
    display: inline-block;
}

.roverSymbolWrapper .tooltip {
    font-family: "Montserrat", sans-serif;
    visibility: hidden;
    padding: 10px 10px 5px;
    position: absolute;
    width: fit-content;
    left: -15%;
    z-index: 1;
    bottom: 100%;
    margin-left: -80%;
    opacity: 0;
    transition: opacity 0.4s;
    color: #98c7fc;
    border: 1px solid #FFF;
    border-radius: 8px;
    font-size: 0.8vw;
    background-color: #797575d7;
    white-space: nowrap;
    line-height: 1vw;
}

.roverSymbolWrapper .tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #FFF transparent transparent transparent;
}

.roverSymbolWrapper:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.statusGood {
    color: #7ecc2d;
}

.statusBad {
    color: #f18b82;
}

.marsRover {
    cursor: pointer;
    color: #98c7fc;
    font-weight: bold;
}

.brokenRover{
    color: #d82828;
}