.singleRoverInstruction {
    display: flex;
    align-items: center;
}

.roverInstructions {
    height: 2rem;
    text-align: center;
    font-family:  "Montserrat", sans-serif;
    border: 1px solid #FFF;
    border-radius: 8px;
    width: 100%;
}

.roverInstructions:disabled {
    cursor: not-allowed;
}

.roverInstructions:disabled::placeholder {
    color: #98c7fc;
    opacity: 1; /* Firefox */
}

.roverInstructions:disabled::-ms-input-placeholder { /* Edge 12 -18 */
    color: #98c7fc;
}

.singleRoverInstruction:disabled::placeholder {
    color: #98c7fc89;
}

.singleRoverInstruction[type=number]::-webkit-inner-spin-button,
.singleRoverInstruction[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.instructionLabel {
    flex: 0 0 20%;
    text-align: center;
}