#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  background: url("../assets/mars-bg.jpeg") no-repeat fixed center center;
  width: 100%;
  transition: 0.1s ease-in-out;
  height: 100vh;
  min-height: 100vh;
}

.mainPanels {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 0;
  min-height: 0;
  padding: 0 30px;
  transition: 0.3s ease-in-out;
  gap: 20px;
  flex: 1;
}

.landRoverBtn:enabled,
.moveRoverBtn:enabled {
  flex-basis: 100%;
  min-height: 2.2rem;
  max-height: 2.2rem;
  background-color: transparent;
  color: #98c7fc;
  font-size: 1rem;
  font-weight: bold;
  font-family:  "Montserrat", sans-serif;
  border: 1px solid #FFF;
  border-radius: 8px;
  cursor: pointer;
}

.landRoverBtn:hover:enabled,
.moveRoverBtn:hover:enabled {
  border: 1px solid #f18b82;
  color: #f18b82;
}

.landRoverBtn:active:enabled,
.moveRoverBtn:active:enabled {
  border: 1px solid #f18b82;
  color: #f18b82;
  background-color: #98c7fc;
}

.landRoverBtn:disabled,
.moveRoverBtn:disabled {
  height: 2.2rem;
  font-weight: bold;
  font-family:  "Montserrat", sans-serif;
  border: 1px solid #FFF;
  border-radius: 8px;
  font-size: 1rem;
  color: #98c7fc89;
}

.modalOpen {
  filter: blur(30px);
}