#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  background: no-repeat center center fixed;
  background-size: cover;
  background-image: url("../assets/mars-bg.jpeg");
  width: 100%;
  height: 100vh;
  transition: 0.1s ease-in-out;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  color: #f18b82;
  min-width: 475px;
  min-height: 100%;
}

hr {
  margin: 10px 0px;
}