.simulationSelectionWindow, .logoWrapper, .simulationOptions, .simulationSelectionForm, .newSimulation {
    display: flex;
    flex-direction: column;
}

.main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    transition: 0.1s ease-in-out;
}

.simulationSelectionWindow {
    min-width: 440px;
    align-items: center;
    border: 1px solid #FFF;
    border-radius: 8px;
    padding: 3rem 3rem;
    margin: 0.5rem;
    background-color: #79757561;
    backdrop-filter: blur(20px);
}

.logoWrapper {
    align-items: center;
    margin-bottom: 2rem;
    text-align: center;
}

.h1 {
    color: #98c7fc;
}

.applicationLogo {
    width: 300px;
    height: 300px;
    margin-bottom: 2rem;
}

.simulationOptions {
    align-items: flex-start;
    gap: 2rem;
    width: 100%;
}

.simulationSelectionForm {
    width: 100%;
    gap: 0.5rem;
}

.labelStyle {
    font-size: 1.5rem;
}

.newSimulation {
    width: 100%;
    gap: 0.5rem;
    align-items: flex-start;
}

.createSimulationBtn,
.cancelCreateSimulationButton,
.simulationSelector {
    width: 100%;
    margin: 1px;
    background-color: #FFFFFF20;
    border: 1px solid #FFF;
    border-radius: 8px;
    color: #98c7fc;
    transition: background-color 0.3s ease-in-out;
}

.simulationSelector {
    padding: 1rem;
    margin-bottom: 1.2rem;
}

.simulationSelector[type=number]::-webkit-inner-spin-button,
.simulationSelector[type=number]::-webkit-outer-spin-button,
.simulationSelector[type=number]::-webkit-inner-spin-button,
.simulationSelector[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.createSimulationBtn,
.cancelCreateSimulationButton {
    padding: 1rem 4rem;
    font-weight: bold;
    font-size: 1rem;
}

.createSimulationBtn:hover,
.cancelCreateSimulationButton:hover,
.simulationSelector:hover {
    cursor: pointer;
    background-color: #FFFFFF70;
    border-color: #98c7fc;
}

.createSimulationBtn:focus-visible,
.cancelCreateSimulationButton:focus-visible,
.simulationSelector:focus-visible {
    outline: 3px solid #98c7fc;
}

.createSimulationBtn:active,
.cancelCreateSimulationButton:active,
.simulationSelector:active {
    border: 1px solid #f18b82;
    transition: background-color 0s;
}

.cancelCreateSimulationButton{
    color: #f18b82;
}

.simSelectionOption {
    width: fit-content;
}