body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: no-repeat center center fixed;
    background-size: cover;
    background-image: url("../images/mars-bg.png");
    color: #98c7fc;
}
body::before {
    background-color: #98c7fc;
    background-size: cover;
}

.simStatus {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

.simulationMap {
    font-family:'Courier New', Courier, monospace;
}

.simulationState {
    display: flex;
    flex-direction: column;
    align-items: left;
    border: solid 5px ;
}

.feedbackModal {
    position: fixed;
    top: 50px;
    text-align: center;
    width: 300px;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    background-color: #008f1f;
    border-radius: 8px;
    border: 1px solid #00ff37;
    transition: transform 0.5s ease;
    transform: translateY(-200px);
    padding: 10px 5px;
}

.activeModal {
    transform: translateY(100px);
}



