* {
    margin: 0;
    padding: 0;
    }

html {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    color: #f18b82;
    min-width: 400px;
}

.tripled-logo {
    width: 80px;
    margin: 0px 10px;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    background: no-repeat center center fixed;
    background-size: cover;
    background-image: url("../images/mars-bg.png");
    width: 100%;
}

header {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    height: 80px;
    text-align: center;
    color: #FFF;
    margin-bottom: 30px;
}

.simStatus {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    flex-grow: 1;
    max-width: 1000px;
}

.simulationMap {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}

.simulationState {
    text-align: center;
    color: #98c7fc;
    display: flex;
    height: 100%;
    flex-direction: column;
    max-width: 250px;
    align-items: left;
    padding: 10px;
    margin: 0px 3% 0px 0px;
    border: 1px solid #FFF;
    border-radius: 8px;
    font-size: 12px;
    background-color: #79757561;
}

.simulationState p {
    margin: 10px 5px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    font-size: 0.8rem;
}

.copyright {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media all and (max-width: 680px) {
    .simStatus {
        flex-direction: column;
        padding: 30px 0px;
    }
    .simulationState {
        height: fit-content;
        margin: 0;
    }
}

.feedbackModal {
    position: fixed;
    top: 50px;
    text-align: center;
    width: 300px;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    color: #7ecc2d;
    background-color: #79757561;
    border-radius: 8px;
    border: 1px solid #7ecc2d;
    transition: transform 0.4s ease;
    transform: translateY(-200px);
    padding: 10px 5px;
}

.activeModal {
    transform: translateY(150px);
}



/* HTML: <div class="loader"></div> */
.loader {
    width: 50px;
    aspect-ratio: 1;
    display: grid;
    border-radius: 50%;
    background:
      linear-gradient(0deg ,rgb(0 0 0/50%) 30%,#0000 0 70%,rgb(0 0 0/100%) 0) 50%/8% 100%,
      linear-gradient(90deg,rgb(0 0 0/25%) 30%,#0000 0 70%,rgb(0 0 0/75% ) 0) 50%/100% 8%;
    background-repeat: no-repeat;
    animation: l23 1s infinite steps(12);
  }
  .loader::before,
  .loader::after {
     content: "";
     grid-area: 1/1;
     border-radius: 50%;
     background: inherit;
     opacity: 0.915;
     transform: rotate(30deg);
  }
  .loader::after {
     opacity: 0.83;
     transform: rotate(60deg);
  }
  @keyframes l23 {
    100% {transform: rotate(1turn)}
  }