
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
html {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    color: #f18b82;
    min-width: 475px;
}
.tripled-logo {
    width: 80px;
    margin: 0px 10px;
}
.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    background: no-repeat center center fixed;
    background-size: cover;
    background-image: url("../images/mars-bg.png");
    width: 100%;
}
header {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    height: 80px;
    text-align: center;
    color: #FFF;
    margin-bottom: 30px;
}
.instructionBlock {
    display: flex;
    width: 100%;
    max-width: 1400px;
}
.roverControls {
    flex: 0 0 60%;
    justify-content: center;
    margin: 0 49px;
    display: flex;
    gap: 60px;
}

.instructionBlockPadding {
    flex: 0 0 40%;
    margin: 20px;
    padding: 10px;
    border: 1px;
}

.landRoverControls {
    display: grid;
    grid-template-columns: auto; /* Each input will be in its own column */
    grid-template-rows: auto auto; /* Changed from using repeat(2, 1fr) */
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-items: center;
}

.landRoverBtn {
    grid-column: 1 / span 2; /* This will make the button span two columns */
    grid-row: 2; /* This will place the button in the second row */
    width: 100%;
}

.moveRoverControls {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: auto auto;
    gap: 10px; /* Adjust gap as needed */
}

.roverId {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.roverInstructions {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.moveRoverBtn {
    grid-column: 1 / -1; /* Span full width */
  grid-row: 2 / 3;
}   

input {
    height: 2rem;
    text-align: center;
    font-family:  "Montserrat", sans-serif;
    border: 1px solid #FFF;
    border-radius: 8px;
}

input:disabled {
    color: #98c7fc;
}

button:enabled {
    height: 2.2rem;
    background-color: transparent;
    color: #98c7fc;
    font-size: 1rem;
    font-weight: bold;
    font-family:  "Montserrat", sans-serif;
    border: 1px solid #FFF;
    border-radius: 8px;
}

button:hover:enabled {
    border: 1px solid #f18b82;
    color: #f18b82;
}

button:active:enabled {
    border: 1px solid #f18b82;
    color: #f18b82;
    background-color: #98c7fc;
}

button:disabled {
    height: 2.2rem;
    font-weight: bold;
    font-family:  "Montserrat", sans-serif;
    border: 1px solid #FFF;
    border-radius: 8px;
    font-size: 1rem;
    color: #98c7fc89;
}

.simStatus {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    flex-grow: 1;
    max-width: 1400px;
}
.simulationMap {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    font-size: 1.3rem;
    flex: 70%;
    transition: all 0.5s ease;
    line-height: 1.5rem;
    color: #f18b82;
    padding: 20px 0px;
    margin: 0px 50px;
    border: 1px solid #FFF;
    border-radius: 8px;
    line-height: 2rem;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(5px);
}
.mapInnerDiv {
    margin: 0;
    padding: 0;
}
.marsRover, .mapBorder {
    color: #98c7fc;
}
.marsRover {
    font-weight: bold;
}
.simulationState {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #98c7fc;
    height: 100%;
    width: 100%;
    padding: 10px;
    border: 1px solid #FFF;
    border-radius: 8px;
    font-size: 13px;
    flex: 30%;
    background-color: #79757561;
    margin: 20px;
    backdrop-filter: blur(5px);
}
.simulationState p {
    margin: 10px 5px;
}
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    font-size: 0.8rem;
}
.copyright {
    display: flex;
    align-items: center;
    justify-content: center;
}
.feedbackModal {
    position: fixed;
    top: 50px;
    text-align: center;
    width: fit-content;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    color: #7ecc2d;
    background-color: #79757561;
    border-radius: 8px;
    border: 1px solid #7ecc2d;
    transition: all 0.4s ease;
    transform: translateY(-200px);
    padding: 10px 10px;
}
.activeModal {
    transform: translateY(150px);
}
.errorModal {
    transform: translateY(150px);
    color: #eb6f6f;
    border: 1px solid #d82828;
}


/* HTML: <div class="loader"></div> */
.loader {
    display: inline;
    width: 50px;
    aspect-ratio: 1;
    display: grid;
    border-radius: 50%;
    background:
      linear-gradient(0deg ,rgb(0 0 0/50%) 30%,#0000 0 70%,rgb(0 0 0/100%) 0) 50%/8% 100%,
      linear-gradient(90deg,rgb(0 0 0/25%) 30%,#0000 0 70%,rgb(0 0 0/75% ) 0) 50%/100% 8%;
    background-repeat: no-repeat;
    animation: l23 1s infinite steps(12);
  }
  .loader::before,
  .loader::after {
     content: "";
     grid-area: 1/1;
     border-radius: 50%;
     background: inherit;
     opacity: 0.915;
     transform: rotate(30deg);
  }
  .loader::after {
     opacity: 0.83;
     transform: rotate(60deg);
  }
  @keyframes l23 {
    100% {transform: rotate(1turn)}
  }


/* MEDIA QUERIES */
  @media all and (max-width: 780px) {
    .instructionBlock {
        flex-direction: column;
    }
    .roverControls {
        flex-direction: column;
        align-items: center;
    }
    .landRoverControls {
        width: 300px;
    }
    .moveRoverControls {
        width: 300px;
    }


    .simStatus {
        flex-direction: column;
        padding: 30px 0px;
        align-items: center;
    }
    .simulationMap {
        flex: 10%;
        height: auto;
        max-height: 500px;
        min-width: 275px;
        padding: 30px 50px;
        margin: 0px 0px;
    }
    .simulationState {
        height: auto;
        max-height: 200px;
        margin: 0;
        width: 360px;
        flex: 50%;
        justify-content: center;
        background-color: #797575c6;
    }
}
@media all and (min-width: 1000px) {
    .simulationMap {
        font-size: 1.5rem;
        line-height: 2.5rem;
        padding: 50px;
    }
}
@media all and (min-width: 1300px) {
    .simulationMap {
        font-size: 1.8rem;
        line-height: 2.8rem;
        padding: 50px;
    }
}